// Import variables
@import '../partials/variables';


// Center all headers
h1, h2 {
    text-align: center; // Center headers globally
}

// Adjust links globally
a {
    color: $midnight; // Default link color
    text-decoration: none; // Remove underline
    &:hover {
        text-decoration: underline; // Add underline on hover
        color: rgb(102, 11, 11); // Change color on hover
    }
}