@import 'variables';

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 15px 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;


  img {
    width: 25%;
    height: auto;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: 768px) {
      flex-direction: column; /* Stack items on smaller screens */
      position: absolute;
      top: 100%;
      left: 0;
      background: $white; /* Dropdown background */
      display: none; 
      width: 100%; /* Full width for dropdown */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 100; 
    }

    &.active {
      display: block; /* Show dropdown when active */
  }
}

  li {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s;

    &:hover {
      color: $scarlet;
    }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 2px;
      background: $scarlet;
      transition: width .3s;
    }

    &:hover::before {
      text-decoration: none;
      width: 100%;
    }

    &.active {
      color: $scarlet; /* Highlight active link */
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: inherit;
  }

  /* Add styles for responsive behavior */
  @media (max-width: 768px) {
    padding: 10px; 

    ul {
      flex-direction: column; 
    }

    li {
      margin-left: 0; 
      padding: 10px 0; 
  }
}

  .dropdown {
    position: relative;
    display: in-line block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: $white;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

  .dropdown-content a:hover {
    background-color: $light-gray; /* Optional: adjust as needed */
    color: $scarlet;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
  }

}


