@import '../partials/variables';

h1 {
  background-color: $gray;
  color: #ffffff;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-family:'Times New Roman', serif;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

h2 {
  background-color: $scarlet;
  color: #ffffff;
  padding: 10px;
  float: left;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  font-family: 'Times New Roman', serif;
  font-size: 1.8rem;
  margin-top: 10px;
  width: 100%;
}

p {
  text-align: center;
  font-family: 'Georgia', serif;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.user_info {
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 3px solid $scarlet;
  box-shadow: 5px 0 15px rgba(255, 0, 0, 0.7);
  border-radius: 10px;

  ul {
    list-style-type: disc;
    padding-left: 20px; 
    margin-top: 10px;
  }

  li {
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    line-height: 1.8;
    color: #444;
    margin-bottom: 20px;
  }
}

.notice {
  background-color: #fdfdfd;
  padding: 20px;
  margin-top: 20px;
  border-left: 3px solid $scarlet;
  box-shadow: 5px 0 15px rgba(255, 0, 0, 0.7);
  border-radius: 10px;

  p {
    font-size: 18px;
    line-height: 1.8;
    color: #444;
  }
}

.communication {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  min-height: 70%; 
  background-color: #ffffff;
  box-shadow: 5px 5px 15px $buckeye-leaf-green;
  border-left: 3px solid $buckeye-leaf-green;
  text-align: center;
  margin: 10px;
  font-family: 'Times New Roman', serif;
  border-radius: 10px;
  
  img {
    width: 200px;
    height: auto;
    align-self: center;
    margin: 10px 0;
  }
}

.contact_info {
  text-align: center;
  padding: 0;

  li {
    margin: 5px 0;
  }
}
