@import '../partials/variables';

h1 {
  background-color: $scarlet;
  color: #ffffff;
  padding: 20px;
  width: 100%;
  text-align: center;
}

h2 {
  background-color: $scarlet;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  float: left;
  margin: 10px;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.user_info, .notice {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px 0;
}

.notice {
  margin-top: auto;
}

.communication {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  min-height: 70%; 
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px;
  
}

.communication img {
  width: 200px;
  height: auto;
  align-self: center;
  margin: 10px 0;
}

.contact_info {
  text-align: center;
}
.contact_info a {
  text-decoration: none;
  color: rgb(65, 62, 62); 
}

.contact_info a:visited {
  color: rgb(204, 80, 80); 
}

.contact_info a:hover {
  color: rgb(102, 11, 11);
  text-decoration: underline;
}


