@import '../partials/variables';

#students-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;

    th, td {
        border: 2px solid $scarlet;
        padding: 10px;
    }

    th {
        background-color: $gray;
        color: $white;
    }
}
